@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  line-height: 1.6;
  background: linear-gradient(45deg, #eefcfe, #fdf6ff);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.gallery .card:not(:last-child) {
  margin-right: 30px;
}

.card {
  width: 360px;
  height: 460px;
  margin-bottom: 30px;
  position: relative;
  perspective: 1200px;
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 16px 0 #858194;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s cubic-bezier(0.3, 0.6, 0.3, 1.2);
}

.first {
  background: url("./img/kote.jpg") center center / cover no-repeat;
}
.second {
  background: url("./img/kote2.jpg") center center / cover no-repeat;
}
.third {
  background: url("./img/kote3.jpg") center center / cover no-repeat;
}

.card-back {
  background: #fefffe;
  color: #2d3047;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  transform: rotateY(180deg);
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(135deg, #f9e900, #ed33b9);
}

.bio .name {
  font-size: 1.8rem;
}

.bio .title {
  font-size: 1.2rem;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.icons .icon {
  background: linear-gradient(135deg, #f9e900, #ed33b9);
  color: #fefffe;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  text-decoration: none;
  border-radius: 50%;
}
